<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <form th:action="@{/students/editInformation/save}" th:method="post" th:object="${student}">
        <input type="hidden" th:field="*{studentid}">
        <label for="name">Update name</label>
        <input id="name" type="text" th:field="*{name}"><br>
        <label for="email">Update email</label>
        <input id="email" type="email" th:field="*{email}"><br>
        <button type="submit">submit</button>
    </form>
</head>
