<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Book List</title>
    <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <!-- jQuery và Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <link href="/css/user_list.css" rel="stylesheet" />
    <script th:src="@{/js/user_list.js}"></script>
</head>
<body>
<div class="container text-center">
    <h2 class="text-center mb-4">User List</h2>

    <div class="search-container">
        <form action="/book_list/find" method="get">
            <label for="title">Search by name:</label>
            <input id="title" name="title">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- Book Data -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Registration Date</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody id="userListTable">
        <tr th:each="user : ${users}" class="row-list" th:data-user-id = "${user.id}">
            <td class="user-id" th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.registrationDate}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <div style="display: flex; gap: 3px;">
                    <button class="btn btn-danger remove-user" sec:authorize="hasRole('ADMIN')">Remove</button>
                    <button class="btn btn-dark hide-book" th:data-hide-id="${user.id}"
                            sec:authorize="hasRole('ADMIN')"></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Show confirm notification for remove   -->

<div class="modal fade" id="remove-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header bg-primary text-white">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-message">
                Are you sure you want to remove this book?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary remove-confirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Show Success Notification for Removing a Book -->
<div class="modal fade" id="successModalRemoving">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">
                    🎉 User Removed Successfully
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>
                    <strong>Success!</strong> User has been removed from your list.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Show Success Notification for Editing a Book -->
<div class="modal fade" id="successModalEditing">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">
                    🎉 Edit Successful
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>
                    <strong>Success!</strong> The book information has been edited successfully
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success btn-sm" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
</script>
</body>
</html>
